/* Your existing styles */
body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    user-select: none;
    overflow-x: hidden;
  }
  
  .back {
    position: fixed;
    color: #000000ae;
    background: #ffffff;
    font-size: 14px;
    font-weight: 400;
    margin-left: 0;
    text-decoration: none;
    text-align: left;
    display: block;
    padding: 15px 16px;
    transition: 0.3s ease;
    top: 15px;
    left: 15px;
    border-radius: 5px;
    border: 1px solid #c7c7c7;
    z-index: 1000;
}

  .return {
    position: fixed;
    color: #000000ae;
    background: #ffffff;
    font-size: 14px;
    font-weight: 400;
    margin-left: 0;
    text-decoration: none;
    text-align: left;
    display: block;
    padding: 15px 16px;
    transition: 0.3s ease;
    top: 15px;
    left: 75px;
    border-radius: 5px;
    border: 1px solid #c7c7c7;
    z-index: 1000;
  }
  
  .back:hover, .return:hover {
    color: #000000;
    border: 1px solid #8a8a8a;
  }
  
  .sidebar-list a {
    color: #0000006f;
    font-size: 14px;
    font-weight: 400;
    margin-left: 0;
    text-decoration: none;
    text-align: left;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 12px 10px;
    margin-top: 5px;
    transition: 0.3s ease;
    border: 2px solid transparent;
    border-bottom: 2px solid #0000000a;
  }
  
  .content-area {

    padding: 10px 50px;
    padding-bottom: 80px;
  }
  
  .content {
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    user-select: text;
  }
  
  .inside-content {
    background: #ffffff;
    padding: 10px 30px;
    border-radius: 20px;
  }

  .content img {
    max-height: 400px;
    margin-left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    filter: brightness(1);
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  .content-title {
    top: 0;
    margin-top: 0px;
    padding: 18px 0;
    position: sticky;
    color: #333;
    font-size: 30px;
    text-align: center;
    z-index: 3;
    width: 100vw;
    background: #ffffff;
    margin-left: 50%;
    transform: translateX(-50%);
    border-bottom: 3px solid #0000004a;
    user-select: none;
  }
  
  p {
    line-height: 1.8;
    font-size: 17px;
    font-weight: 300;
  }
  
  .youtube-video {
    width: 100%;
    aspect-ratio: 1/1;
    justify-self: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: -400px;
  }
  
  .youtube-video iframe {
    width: 100%;
  }
  
  .section {
    position: relative;
    background: #ffffff;
    padding: 10px 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
  }
  
  .content section .title {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: -10px;
    position: sticky;
    top: 46px;
    background: #ffffff;
    width: calc(100%);
    padding: 10px 0;
    z-index: 2;
  }
  
  .section-section-title {
    color: #464646;
    margin-top: 30px;
    margin-bottom: -10px;
  }
  
  .glossary {
    color: #000000d3;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: -10px;
  }
  
  section p {
    font-size: 17px;
    line-height: 1.8;
  }

  .section a {
    position: relative;
    background: transparent;
    text-decoration: none;
    color: #000000a3;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #00000032;
    transition: 0.3s ease;
    top: 20px;
    left: -5px;
  }

  .section a:hover {
    color: #000000;
    border: 1px solid #000000;
  }
  
  .next {
    display: flex;
    justify-content: center;
  }
  
  .next-lesson {
    width: fit-content;
    background: none;
    text-align: center;
    margin-top: 50px;
  }
  
  .next-lesson a {
    padding: 15px 30px;
    border: 2px solid #005bc3d6;
    background: #005bc3d6;
    color: #ffffff;
    text-decoration: none;
    border-radius: 30px;
  }
  
  .next-lesson a:hover {
    background: #004696d6;
  
  }

  .next-course {
    width: fit-content;
    background: none;
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
  }
  
  .next-course a {
    padding: 15px 30px;
    border: 2px solid #005bc3d6;
    background: #ffffff;
    color: #005bc3d6;
    text-decoration: none;
    border-radius: 30px;
  }
  
  .next-course a:hover {
    border: 2px solid #004696d6;  
    color: #004696d6;
  }