body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    user-select: none;
  }
  
  .under-construction {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 10%;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.background-image {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 60%;
    background: url("https://t4.ftcdn.net/jpg/03/58/75/95/360_F_358759526_1DbvGd9bnHops9Vns8LRxyCgpk0mrA5i.jpg") center/cover no-repeat;
    z-index: -1; /* Place it behind other content */
  }
  
  h1 {
    font-family: "Madimi One", sans-serif;
    color: #111111;
    letter-spacing: 2px;
    font-size: 40px;
    margin-top: -15vh;
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  
  p {
    color: #616161;
    font-size: 17px;
    line-height: 1.8;
    width: 40%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 5vh;


    position: relative;
    text-align: center;
    align-items: center;
}
  
  .go-back {
    display: inline-block;
    margin-top: -0vh;
    padding: 16px 55px;
    background-color: #005bc3d6;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-size: 14px;
    border-radius: 40px;
  }
  
  .go-back:hover {
    transform: translateY(-5px);
    background-color: #004696d6;
  }
  
  .go-home {
    display: inline-block;
    margin-top: -0vh;
    padding: 14px 53px;
    background-color: transparent;
    color: #005bc3d6;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
    font-size: 14px;
    border-radius: 40px;
    margin-left: 10px;
    border: 2px solid #005bc3d6;
  }

  .go-home:hover {
    transform: translateY(-5px);
  }
